@font-face {
  font-family: 'AtypDisplay';
  src: url('https://github.com/langel54/langel54.github.io/blob/54e06420eebb91edda5574c33e53abb47615898b/AtypDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
