@font-face {
  font-family: 'AtypDisplay';
  src: url('https://langel54.github.io/langel54.github.io/AtypDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
